<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19231371655-dbr1oksvq6dfg9i4917835ofvjjvre2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19231371655-dbr1oksvq6dfg9i4917835ofvjjvre2v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>19231371655-c8fi8gatbt505tkfhl9f4stafhqt0dnn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA0wBli9WJLZ_tdHsdXV0WSyRsB2BBMDw</string>
	<key>GCM_SENDER_ID</key>
	<string>19231371655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soulmate.soulmate</string>
	<key>PROJECT_ID</key>
	<string>my-soulmate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-soulmate-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19231371655:ios:4151608326d5471fbf6322</string>
</dict>
</plist>